
notifications:
  email: false
  slack:
    rooms:
      secure: RWZStyD1RIU4mNCb4EM6vwushu1QR1Lj9OAzRKa12tcXFAPR25JSYLD+AGmtLj6YJxhBgpdFhEI0ijfalmsNNo+f9og+34GdLl4ShrFEXtRvi+3s6zHojb9CRMA0UVDPYla6xPTXBS1WT50FCjUOffKPxPHJNChWmGu/D5ndC6R9GsOxLyThEI7XA5tdDQIfO0BP9SVxJDHYQnaqG5qrIXVJpL18MvKxiONZsoNaPIkzpoQftEfzrdeCdwNM4oGLrTWQFrvPuVSjWES8FHr8+PYleZFw/LGS7TYy9ZIqythm0FRS8XXLy276l23/krYk6QG8J87MTLUfy1as8F4esFpPKrq1Pm6QChFItCcpTRE12uW4CcCNKnkoZ64TymHjCDwKd3fKc/f9V60jtWQteKrzyd2KNnVDsaC9Mh6DzHUKlYMepPluKmShJD3fF93FxAWr14oTO+yzwBhcMZw5yZ3Vdx3qmQ+sCr3wUcN42hZ6/U4fU22vJSAy8J2YjoPc4uQNze4U6AFhSKrsVmSd407SNEa0LniyIQxyizyd58w73QdvVV5tpuDPDVkETU66qJrpltgrNZNw9Z9wKeZkJgnD8XXdiTW9GzOpQWLGHo6knMqa2Zu8yUcY8IRmE3eHNBzbHkf5YKAn7gXLb34MgAteYxIQbb/cMQsQBuesN7Y=
    on_success: always
    on_failure: always

stages:
- name: BUILD
  if: commit_message !~ /\[skip build\]/
- name: DOC
  if: commit_message !~ /\[skip doc\]/
- name: TEST
  if: commit_message !~ /\[skip test\]/

jobs:
  include:

  - stage: BUILD
    language: node_js
    node_js:
    - '12'
    services:
    - docker
    script:
    - |
      IMAGE_NAME="$TRAVIS_REPO_SLUG"
      if [[ -z "$TRAVIS_TAG" ]]; then
        IMAGE_TAG=latest
      else
        IMAGE_TAG=$(node -p -e "require('./package.json').version")
      fi
      docker build -f dockerfile -t $IMAGE_NAME:$IMAGE_TAG .
    before_deploy:
    - docker login -u="$DOCKER_USER" -p="$DOCKER_PASSWORD"
    deploy:
      provider: script
      script: docker push $IMAGE_NAME:$IMAGE_TAG
      on:
        all_branches: true

  - stage: DOC
    language: node_js
    node_js:
    - '12'
    install: true
    script: cd docs && yarn install && yarn build 
    deploy:
      provider: pages
      local-dir: docs/.vuepress/dist
      skip-cleanup: true
      github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
      keep-history: true

  - stage: TEST
    language: node_js
    node_js:
    - '12'
    services:
    - mongodb
    - docker
    - redis-server
    addons:
      code_climate:
        repo_token: ce3b24cd7b710c5ab893043eec49a13ee068b92c35d75a20a2b2cb4470fb1e42
    before_script:
    - docker pull v4tech/imagemagick
    - npm install -g codeclimate-test-reporter
    after_script:
    - codeclimate-test-reporter < coverage/lcov.info



